CODE_SIGN_IDENTITY = 
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = $(SRCROOT)/Support/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = com.makaio.tvOS
PRODUCT_NAME = DarkLightning
SDKROOT = appletvos
SKIP_INSTALL = YES
SWIFT_VERSION = 3.0
TARGETED_DEVICE_FAMILY = 3
TVOS_DEPLOYMENT_TARGET = 9.0
