CODE_SIGN_IDENTITY = 
DEFINES_MODULE = YES
DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath
INFOPLIST_FILE = $(SRCROOT)/Support/Info.plist
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks
IPHONEOS_DEPLOYMENT_TARGET = 8.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
PRODUCT_BUNDLE_IDENTIFIER = de.jensmeder.DarkLightning
PRODUCT_NAME = DarkLightning
SKIP_INSTALL = YES
SWIFT_VERSION = 3.0
WARNING_CFLAGS = -Wall -Wextra
