PRODUCT_NAME = DarkLightning
INFOPLIST_FILE = $(SRCROOT)/Configuration/Shared/Info.plist
DEFINES_MODULE = YES
DYLIB_INSTALL_NAME_BASE = @rpath
SKIP_INSTALL = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
VERSIONING_SYSTEM = apple-generic
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
ALWAYS_SEARCH_USER_PATHS = NO

RUN_CLANG_STATIC_ANALYZER = YES
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
CLANG_STATIC_ANALYZER_MODE = deep

WARNING_CFLAGS = -Werror -Wall -Wextra -Wshadow -Wfloat-equal -Wno-unused-parameter -Wdeprecated-implementations -Wundef
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
